body {

}

.background1
{
    padding-top: 5%;
    padding-left:6%;
    padding-right:6%;
    height: 357px;
    width: 408px;
}

.header1 img
{
    height:138px;
}
.header1
{
    background-color:black;
}
